p { /* Обычный абзац */
    text-align: justify; /* Выравнивание текста по ширине */
}
p.post { /* Абзац с классом cite */
    font-family: monospace;
    font-size: large;
    color: navy; /* Синий цвет текста */
    margin-left: 20px; /* Отступ слева */
    border-left: 1px solid navy; /* Граница слева от текста */
    padding-left: 15px; /* Расстояние от линии до текста */
}
p.coment { /* Абзац с классом cite */
    font-family: monospace;
    color: red; /* Синий цвет текста */
    margin-left: 20px; /* Отступ слева */
    border-left: 1px solid red; /* Граница слева от текста */
    padding-left: 50px; /* Расстояние от линии до текста */
}
label {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: larger;
}

/*div.div_content {*/
    /*border: double;*/
/*}*/